<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>MarcelloDB</title>

        <link rel="stylesheet" href="http://markmeeus.github.io/MarcelloDB/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://markmeeus.github.io/MarcelloDB/css/font-awesome.min.css">
        <link rel="stylesheet" href="http://markmeeus.github.io/MarcelloDB/css/highlight.tomorrow-night.css">
        <link rel="stylesheet" href="http://markmeeus.github.io/MarcelloDB/css/main.css">
    </head>
    <body>

        <header class="navbar navbar-default navbar-fixed-top" style='background:#FFF;height:60px;'>

            <a class="navbar-brand" href="http://markmeeus.github.io/MarcelloDB/" style="position:relative;top:-40px;">
                <img style="width:240px;" src="http://markmeeus.github.io/MarcelloDB/images/logo/logo_blue.svg">
                <small class="hidden-xs hidden-sm" style="position:relative;top:4px; color:#000; font-size:30px;">
                    NoSQL Data Storage for Xamarin and Windows Apps
                </small>
            </a>

                            <a href="https://github.com/markmeeus/marcellodb">
                    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
                </a>
            
        </header>

        <main class="container-fluid">
            <div class="row">

                
                    <nav id="sidebar" class="col-sm-3 col-lg-2" role="navigation">

                                                    <p class="text-muted">
                                Main documentation
                            </p>

                            <ul class="nav nav-pills nav-stacked">
                                                                    <li class="active">
                                        <a href="http://markmeeus.github.io/MarcelloDB/">
                                            Home
                                        </a>
                                    </li>
                                                                    <li class="">
                                        <a href="http://markmeeus.github.io/MarcelloDB/quickstart.html">
                                            Quickstart Guide
                                        </a>
                                    </li>
                                                                    <li class="">
                                        <a href="http://markmeeus.github.io/MarcelloDB/sessions.html">
                                            Sessions, CollectionFiles and Collections
                                        </a>
                                    </li>
                                                                    <li class="">
                                        <a href="http://markmeeus.github.io/MarcelloDB/persisting.html">
                                            Persist and Destroy
                                        </a>
                                    </li>
                                                                    <li class="">
                                        <a href="http://markmeeus.github.io/MarcelloDB/reading.html">
                                            Find and Enumerate
                                        </a>
                                    </li>
                                                                    <li class="">
                                        <a href="http://markmeeus.github.io/MarcelloDB/indexes.html">
                                            Indexes
                                        </a>
                                    </li>
                                                                    <li class="">
                                        <a href="http://markmeeus.github.io/MarcelloDB/transactions.html">
                                            Transactions
                                        </a>
                                    </li>
                                                                    <li class="">
                                        <a href="http://markmeeus.github.io/MarcelloDB/encryption.html">
                                            Encryption
                                        </a>
                                    </li>
                                                                    <li class="">
                                        <a href="http://markmeeus.github.io/MarcelloDB/upgrade04.html">
                                            Upgrading to 0.4
                                        </a>
                                    </li>
                                                                    <li class="">
                                        <a href="http://markmeeus.github.io/MarcelloDB/roadmap.html">
                                            Roadmap to 1.0
                                        </a>
                                    </li>
                                                                    <li class="">
                                        <a href="http://markmeeus.github.io/MarcelloDB/longterm.html">
                                            After 1.0
                                        </a>
                                    </li>
                                                            </ul>
                        
                    </nav>

                
                <section class="col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10">
                    <h1 id="couscous-dark-template">Couscous Dark template</h1>
<p><img src="screenshot.png" alt="" /></p>
<h2 id="usage">Usage</h2>
<p>To use the template, set it up in your <code>couscous.yml</code> configuration file:</p>
<pre><code class="language-yaml">template:
    url: https://github.com/CouscousPHP/Template-Dark</code></pre>
<h2 id="configuration">Configuration</h2>
<p>Here are all the variables you can set in your <code>couscous.yml</code>:</p>
<pre><code class="language-yaml"># Base URL of the published website
baseUrl: http://username.github.io/project

# Used to link to the GitHub project
github:
    user: myself
    repo: my-project

title: My project
subTitle: This is a great project.

# The left menu bar
menu:
    sections:
        main:
            name: Main documentation
            items:
                home:
                    text: Home page
                    # You can use relative urls
                    relativeUrl: doc/faq.html
                foo:
                    text: Another link
                    # Or absolute urls
                    absoluteUrl: https://example.com
        other:
            name: Other topics
            items:</code></pre>
<p>Note that the menu items can also contain HTML:</p>
<pre><code class="language-yaml">home:
    text: "&lt;i class=\"fa fa-github\"&gt;&lt;/i&gt; Home page"
    relativeUrl: doc/faq.html</code></pre>
<h2 id="menu">Menu</h2>
<p>To set the current menu item (i.e. highlighted menu item), set the <code>currentMenu</code>
key in the Markdown files:</p>
<pre><code class="language-markdown">---
currentMenu: home
---

# Welcome</code></pre>
                </section>

            </div>
        </main>

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//yandex.st/highlightjs/7.5/highlight.min.js"></script>

        <script>
            $(function() {
                $("section>h1").wrap('<div class="page-header" />');
                // Syntax highlighting
                hljs.initHighlightingOnLoad();
            });
        </script>

    </body>
</html>
